MongoDB Compass/
Cypress/
Thunar/
Jackbox Games/
Logic/
Multica/
abaddon/
autostart/
act/
btop/
dconf/
dunst/
darktable/
galculator/
gh/
go/
gcloud/
glib-2.0/
jxbrowser/
kicad/
nano/
nvim/
nwg-lok/
openscreen/
pulse/
simple-update-notifier/
teams-for-linux/
vesktop
xarchiver/
xfce4/
xsettingsd/
xctu/
obs-studio/
menus/
libreoffice/
k9s/
in.cinny.app/
htop/
hypr/
neofetch/
openconnect-sso/
opencode/
rncbc.org/
spotatui
unity3d/
Proton/
inkscape/
google-chrome/
falkTX/
dorion/
discordo/
dgop/
cosmic/
com.spikehd.dorion/
cava/
yay/
Arduino IDE/
DankMaterialShell/
Element/
OrcaSlicer/
Pinta/
REAPER/
Raspberry Pi/
Thonny/
Ultralytics/
VirtualBox/
alacritty/
arduino-ide/
audacious/
audacity/
gconf/
matplotlib/
mpv/
nautilus/
EOS-greeter.conf
CrateDigger.settings
QtProject.conf
example.picom.conf
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
.avalonia-build-tasks/
.dots/
.wrangler/
wpg/schemes/
