MongoDB Compass/
Thunar/
abaddon/
autostart/
dconf/
dunst/
galculator/
gh/
go/
jxbrowser/
kicad/
nano/
nvim/
nwg-lok/
openscreen/
pulse/
simple-update-notifier/
teams-for-linux/
vesktop
xarchiver/
xfce4/
xsettingsd/
yay/
EOS-greeter.conf
example.picom.conf
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
.avalonia-build-tasks/
.dots/
